*{
    margin: 0;
    padding: 0;
    font-family: 'Maven Pro', sans-serif;
}

nav{
    display: flex;
    padding: 1% 2%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-link{
    flex: 1;
    text-align: right; 
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: gold;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 4px;
    background:orangered;
    display: block;
    margin: auto;
    transition: 0.2s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

.row{
    padding-bottom: 20px;
}

#total-orders{
    background-color: initial;
}

#orders-delivered{
    background-color: initial;
}

#orders-pending{
    background-color: initial;
}